.c01main {
  width: 100vw;
  height: 100vh;
  > .container {
    gap: 50px;
    .zzohae {
      padding-bottom: 30px;
      border-bottom: 1px solid var(--text-minor-3, #D2D2D2);
      color: var(--main1, #002F87);
      .catch {
        font-size: var(--fs-12, 0.75rem);
        font-weight: 600;
        line-height: 140%;
        span {
          font-size: var(--fs-24, 1.5rem);
        }
      }
      div {
        margin-top: -15px;
        gap: 10px;
        h1 {
          font-size: var(--fs-56, 3.5rem);
          line-height: 1;
          text-shadow: 0px 0px 3px var(--white-alter, #FEFEFE);
        }
        p {
          font-weight: 600;
        }
      }
    }
    ul {
      gap: 12px;
    }
    @media (min-width: 991px){
      > svg {
        width: 400px;
        height: 400px;
      }
      .zzohae {
        .catch {
          font-size: var(--fs-24, 1.5rem);
          line-height: 1;
          span {
            font-size: var(--fs-48, 3rem);
          }
        }
        div {
          margin-top: -30px;
          gap: 10px;
          h1 {
            font-size: var(--fs-112, 7rem);
            line-height: 1;
            text-shadow: 0px 0px 3px var(--white-alter, #FEFEFE);
          }
          p {
            font-size: var(--fs-32, 2rem);
            font-weight: 600;
          }
        }
      }
      ul {
        gap: 20px;
      }
    }
  }
}

.contactCont {
  gap: 40px;
  &>div {
    gap: 20px;
    div {
      h6 {
        gap: 8px;
      }
      p {
        color: var(--text-minor-1, #888);
        font-size: var(--fs-14, 0.875rem);
        font-weight: 300;
        line-height: normal;
      }
    }
  }
  form {
    gap: 20px;
    .smallCont {
      display: flex;
      label {
        color: var(--text-minor-1, #888);
        text-align: justify;
        font-size: var(--fs-14, 0.875rem);
        font-weight: 300;
        line-height: 1;
        width: 60px;
        flex-shrink: 0;
        margin-top: .4rem;
        &:after{
          content: "";
          display: inline-block;
          width: 100%;
          flex-shrink: 0;
        }
      }
      .inputwrap {
        padding-left: 30px;
        .error {
          display: block;
          color: var(--sub1, #F24E07);
        }
      }
      input {
        height: 34px;
        padding: 8px 10px;
        width: 100%;
        border: none;
        border-radius: var(--br-3, 0.1875rem);
        background: var(--text-minor-4, #ECECEC);
        &:focus, &:focus-visible {
          outline: 0.6px solid var(--main1, #002F87);
        }
        &:placeholder, &:placeholder-shown, &:-moz-placeholder {
          color: var(--text-minor-1, #888);
          font-size: var(--fs-14, 0.875rem);
          font-weight: 400;
          line-height: normal;
          opacity: 0.3;
        }
      }
      textarea {
        padding: 8px 10px;
        min-height: 6rem;
        width: 100%;
        border: none;
        border-radius: var(--br-3, 0.1875rem);
        background: var(--text-minor-4, #ECECEC);
        &:focus, &:focus-visible {
          outline: 0.6px solid var(--main1, #002F87);
        }
        &:placeholder {
          color: var(--text-minor-1, #888);
          font-size: var(--fs-14, 0.875rem);
          font-weight: 400;
          line-height: normal;
          opacity: 0.3;
        }
      }
    }
    .submit {
      padding: 12px 16px;
      width: 100%;
      border: none;
      border-radius: var(--bs-3, 0.1875rem);
      background: var(--text-minor-4, #ECECEC);
      color: var(--white-alter, #FEFEFE);
      font-size: var(--fs-18, 1.125rem);
      font-weight: 500;
      line-height: normal;
      transition: background-color .3s ease;
      &.active {
        background-color: var(--main1, #002F87);
      }
    }
    .loading {
      padding: 12px 16px;
      width: 100%;
      border-radius: var(--bs-3, 0.1875rem);
      background: var(--sub1, #ECECEC);
      color: var(--white-alter, #FEFEFE);
      font-size: var(--fs-18, 1.125rem);
      font-weight: 500;
      line-height: normal;
      text-align: center;
    }
  }
}