.profileMainCont {
  gap: 60px;
}
.profileAll {
  .profileImg {
    aspect-ratio: 1;
    width: 100%;
    background-color: #eee;
    align-self: center;
    position: relative;
    @media (min-width: 767px) {
      width: 80%;
      max-width: 600px;
    }
    p {
      height: 20%;
      padding: 0 0 20px 20px;
      color: var(--text-default, #333);
      font-size: var(--fs-18, 1.125rem);
      font-weight: 400;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;
      bottom: 0;
      background: linear-gradient(0deg, rgba(254,254,254,1) 0%, rgba(254,254,254,0) 100%);
      [color-theme="dark"] & {
        height: 50%;
        background: linear-gradient(0deg, rgba(31,31,31,1) 0%, rgba(31,31,31,0) 100%);
      }
    }
  }
  .profileInfo {
    margin-top: 30px;
    .myName {
      color: var(--text-default, #333);
      font-size: var(--fs-24, 1.5rem);
      font-weight: 500;
      line-height: normal;
      margin-bottom: 20px;
      span {
        color: var(--text-minor-1, #888);
        font-size: var(--fs-18, 1.125rem);
        font-weight: 300;
      }
    }
    dl {
      gap: 20px;
      .smallCont {
        display: flex;
        gap: 30px;
        & > div {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
    }
    dd {
      color: var(--text-default, #333);
      font-weight: 500;
      line-height: 1.2;
      &.training {
        word-break: break-all;
      }
      .award {
        display: block;
        font-weight: 500;
        line-height: 1.5;
      }
      p {
        color: var(--text-minor-1, #888);
        font-size: var(--fs-12, 0.75rem);
        font-weight: 300;
        line-height: 1.2;
        margin-top: .25rem;
        &.academy {
          margin-top: 0;
        }
      }
      &:last-child .ability {
        border-bottom: none;
      }
      .ability {
        gap: 5px;
        padding: 0 10px 8px 10px;
        border-bottom: 1px solid var(--text-minor-4, #ECECEC);
        flex-wrap: wrap;
        span {
          display: inline-block;
          width: 24px;
          height: 24px;
          background: url(../../../public/ability.png) no-repeat;
          &.html5 { background-position: 0 0; }
          &.css3 { background-position: -24px 0; }
          &.javascript { background-position: -48px 0; }
          &.sass { background-position: -72px 0; }
          &.react { background-position: -96px 0; }
          &.bootstrap { background-position: -120px 0; }
          &.nodejs { background-position: -144px 0; }
          &.php { background-position: -168px 0; }
          &.myphpadmin { background-position: -192px 0; }
          &.supabase { background-position: -216px 0; }
          &.confluence { background-position: -240px 0; }
          &.slack { background-position: -264px 0; }
          &.github { background-position: -288px 0; }
          &.figma { background-position: -312px 0; }
          &.illustrator { background-position: -336px 0; }
          &.photoshop { background-position: -360px 0; }
          &.blender { background-position: -384px 0; }
        }
      }
    }
  }
}
.expCont {
  gap: 60px;
  .expItem {
    gap: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--text-minor-4, #ECECEC);
    .date {
      color: var(--text-minor-1, #888);
      font-size: var(--fs-12, 0.75rem);
      font-weight: 300;
      line-height: 1.5;
      white-space: nowrap;
      width: 55px;
    }
    .expContent {
      p:first-child {
        color: var(--text-default, #333);
        font-size: var(--fs-14, 0.875rem);
        font-weight: 500;
        line-height: 1.2;
        word-break: keep-all;
      }
      p:last-child span {
        color: var(--text-minor-1, #888);
        font-size: var(--fs-12, 0.75rem);
        font-weight: 300;
        line-height: 1.2;
        margin-top: 5px;
        word-break: keep-all;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
.likesCont {
  gap: 60px;
  .midCont {
    gap: 30px;
  }
  .cateitem {
    img {
      width: 80%;
      max-width: 100px;
    }
    p {
      color: var(--text-minor-1, #888);
      font-size: var(--fs-18, 1.125rem);
      font-weight: 500;
      line-height: normal;
    }
  }
  .swiper {
    border-radius: var(--br-3);
    @media ( min-width: 991px){
      width: calc(100% * 2 / 3 );
    }
    .swiperbg {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      background-size: auto 110% !important;
      height: 75vw;
      max-height: 400px;
      border-radius: var(--br-3, 0.1875rem);
    }
    .desc {
      color: var(--text-default, #333);
      font-size: var(--fs-12, 0.75rem);
      font-weight: 300;
      line-height: 1.2;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      padding: .5rem 0;
      background-color: rgba($color: #FEFEFE, $alpha: 0.7);
      [color-theme="dark"] & {
        background: rgba($color: #333, $alpha: 0.7);
      }
    }
  }
}