.nav {
  display: flex;
  margin-bottom: 20px !important;
  .navItem {
    cursor: pointer;
    a {
      display: flex;
      padding: 10px 12px;
      justify-content: center;
      align-items: center;
      color: var(--text-minor-2, #AAA);
      font-size: var(--fs-16, 1rem);
      font-weight: 500;
      line-height: normal;
      transition: color .3s ease;
      &.active {
        color: var(--text-default, #333);
        border-bottom: 1px solid var(--sub1, #F24E07);
      }
    }
  }
}
.designCont {
  gap: 60px;
  img {
    border-radius: var(--br-3, 0.1875rem);
  }
  .desc {
    margin-top: .5rem;
    color: var(--text-minor-1, #888);
    font-size: var(--fs-12, 0.75rem);
    font-weight: 300;
    line-height: 1.2;
  }
  .swiper {
    .swiper-slide img {
      border: 0.6px solid var(--white-alter, #FEFEFE);
      transition: box-shadow 0.3s ease;
    }
    .swiper-slide:not(.swiper-slide-active) {
      filter: blur(3px);
      opacity: 0.3;
    }
    .swiper-slide-active img {
      box-shadow: 0 2px 5px rgba($color: #333, $alpha: 0.25);
    }
  }
  .design-item img {
    width: 100%;
  }
  .download p {
    margin-top: .5rem;
    color: var(--text-minor-1, #888);
    font-size: var(--fs-10, .625rem);
    font-weight: 300;
    line-height: 1.2;
    @media (min-width: 991px){
      font-size: var(--fs-16, 1rem);
    }
  }
}