// 커스텀 클래스

.rubik-spray {
  font-family: 'Rubik Spray Paint', cursive;
  font-weight: 400;
  font-style: normal;
}

.rubik-mono {
  font-family: "Rubik Mono One", serif;
  font-weight: 400;
  font-style: normal;
}

.mycontainer {
  padding-top: 80px;
}

.fc-main {
  color: var(--main1, #002F87);
}

.fc-sub {
  color: var(--sub1, #F24E07);
}

.fc-point {
  color: var(--point, #FFBB00);
}

.fs-10 {
  font-size: var(--fs-10, 0.625rem);
}

.fs-12 {
  font-size: var(--fs-12, 0.75rem);
}

.fs-16 {
  font-size: var(--fs-16, 1rem);
}

.fs-18 {
  font-size: var(--fs-18, 1.125rem);
}

.fs-24 {
  font-size: var(--fs-24, 1.5rem);
}

.fs-30 {
  font-size: var(--fs-30, 1.875rem);
}

.title-fs-min {
  font-size: var(--fs-24, 1.5rem);
  @media (min-width: 991px){
    font-size: var(--fs-30, 1.875rem);
  }
}

.title-fs-max {
  font-size: var(--fs-30, 1.875rem);
  @media (min-width: 991px){
    font-size: var(--fs-34, 2.125rem);
  }
}

.fcc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fcs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.fes {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.fsc {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.fcb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Header (Hd.js)
header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: var(--white-alter, #FEFEFE);
  transition: transform 0.3s ease;
  border-bottom: 0.5px solid var(--text-minor-4, #ECECEC);
  &.show {
    opacity: 1;
    transform: translateY(0);
  }
  &.hide {
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
}

// Footer (Ft.js)
footer {
  margin-top: 80px;
  padding: 50px 0 90px;
  background-color: var(--main1, #002F87);
  [color-theme="dark"] & {
    background-color: #333;
  }
  > .container {
    gap: 20px;
  }
  .ftInfo {
    gap: 12px;
    align-self: stretch;
    .ftLogo {
      padding: 20px 0;
      font-size: var(--fs-20, 1.25rem);
      margin-right: 2rem;
      [color-theme="dark"] & {
        color: var(--text-default, #FEFEFE);
      }
    }
    .ftLink {
      gap: 8px;
      .alink {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: var(--white-alter, #FEFEFE);
        font-size: var(--fs-14, .875rem);
        font-weight: 600;
        line-height: normal;
        [color-theme="dark"] & {
          color: var(--text-default, #FEFEFE);
        }
        &:hover {
          color: var(--point, #FFBB00);
          svg path {
            color: var(--point, #FFBB00);
          }
        }
      }
      @media (min-width: 991px){
        svg {
          width: 20px;
          height: 20px;
        }
        .alink {
          font-size: var(--fs-20, 1.25rem);
        }
      }
    }
  }
  .copy {
    color: var(--white-alter, #FEFEFE);
    font-size: var(--fs-12, .75rem);
    font-weight: 300;
    line-height: normal;
    [color-theme="dark"] & {
      color: var(--text-default, #FEFEFE);
    }
    strong {
      font-weight: 600;
    }
    @media (min-width: 991px){
      font-size: var(--fs-16, 1rem);
    }
  }
}

// Swiper (Myswiper.js)
.swiper {
  width: 100%;
}

// 퀵메뉴 (Quick.js)
.quickmenu {
  position: fixed;
  z-index: 999;
  bottom: 60px;
  right: 4vw;
  padding: .5rem;
  border-radius: var(--br-full, 100px);
  svg {
    width: 54px;
    height: 54px;
    @media (min-width: 767px){
      width: 75px;
      height: 75px;
    }
  }
}

// 햄버거 메뉴 (MenuTab.js)
.menutab {
  width: 100%;
  height: 0;
  position: absolute;
  background-color: rgba($color: #002F87, $alpha: 0.9);
  left: 0;
  top: 60px;
  transition: height 0.3s ease;
  [color-theme="dark"] & {
    background-color: rgba($color: #333, $alpha: 0.7);
  }
  &.open {
    height: 200px;
  }
  .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  ul li {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    a {
      font-size: var(--fs-24, 1.5rem);
      font-weight: 200;
      color: var(--white-alter, #FEFEFE);
      [color-theme="dark"] & {
        color: var(--text-default, #FEFEFE);
      }
      text-align: right;
      &:hover {
        color: var(--point, #FFBB00);
        font-weight: 500;
      }
    }
  }
}

// 라이트, 다크모드 전환버튼 (ColorThemeToggle.js)
.modeBtn {
  height: 40px;
  position: absolute;
  top: 0;
  right: 2rem;
  border-radius: var(--br-full);
  background-color: var(--white-alter);
  box-shadow: 0px 0px 3px var(--text-default);
  padding: 1rem;
  color: var(--text-default, #333);
}