* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

html {
  overflow-y: scroll !important;
}

body {
  background-color: var(--white-alter, #FEFEFE);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ol, ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
  &:focus-visible {
    outline: none;
  }
}

button {
  border: none;
  background-color: transparent;
}